<%- include('partials/header') -%>

<h1>Get Train Info</h1>

<div>
    <form action="/getTrainInfo" method="post">
        <label for="">Train number: </label>
        <input type="text" name="trainno" id="">
        <button type="submit">submit</button>
    </form>
</div>
<div>
    <% try{ %>
    <% var traindata= JSON.parse(trndata).data %>
    <p>Train no: <%=traindata.train_no%></p>
    <p>Train Name: <%=traindata.train_name%></p>
    <%}catch(error){console.log("empty array")}%>
</div>

<%- include('partials/footer') -%>