<%- include('partials/header') -%>
    <h1>Welcome to Train application</h1>
    <ul>
        <li><a href="/searchStation">Search Station</a></li>
        <li><a href="/searchTrain">Search Train</a></li>
        <li><a href="/trainsBetweenStations">Trains Between Stations</a></li>
        <li><a href="/getTrainLiveStatus">Get Train live status</a></li>
        <li><a href="/getTrainSchedule">Get Train Schedule</a></li>
        <li><a href="/getPnrStatus">Get PNR Status</a></li>
        <li><a href="/checkSeatAvailability">Check Seat Availability</a></li>
        <li><a href="/getTrainClasses">Get Train Classes</a></li>
        <li><a href="/getFare">Get Fare</a></li>

    </ul>
<%- include('partials/footer') -%>